html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color:rgb(227, 230, 255);
    background-image: url("../img/fundo.png");
    background-repeat: no-repeat;
    background-size:contain;
    padding: 0px 0px 0px 480px;
}

.container{
    display: grid;
    grid-template-columns: 30px 80px 50px 100px 60px 20px 30px;
    grid-template-rows: 180px 50px 50px 50px 30px 10px 30px 50px 20px 50px 20px 50px;
    grid-template-areas: 
    "item1 item1 item1 item1"
    "item2 item2 item3 item3";
}

.item1{
    border:solid 2px #0128aa;
    background-color: #0128aa;
    background-image: url("../img/boneco.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    border-radius:10px 10px 0px 0px;
}

h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 30px;
}

.item2{
    background-color: #ffffff;
    border-radius:0px 0px 10px 10px;
    color: dimgray;
    text-align: center;
    font-size: 15px;
    padding: 20px 50px 10px 50px;
}

.item3{
    background-color: rgb(241, 241, 255);
    border-radius: 10px;
    padding: 20px 0px 10px 10px ;
}

h2{
    color: black;
    font-size: 15px;
}

.item4{
    color: dimgray;
    text-align:left;
    font-size: 15px;
}

.btn-alterar{
    color:rgb(155, 74, 231);
    font-weight: bold;
    text-align:justify;
    font-size: 15px;
}

.btn-alterar:hover{
    text-decoration: none;
    color:rgb(203, 150, 253);
}

.button1 {
    display: flex;
    margin: 80px auto auto auto;
}

.button1 button {
    background-color: #4f0fe4;
    font-family: 'Roboto', sans-serif;
    border: 1px white;
    border-radius: 8px;
    padding: 10px 35px;
    font-size: 17px;
    color: white;
    width: 100%;
    transition: 0.5s;
}
.btn-acessar1:hover{
    background-color: #8059db;
    color: white;
    border: solid 1px white;
}

.btn-acessar2{
    color:rgb(82, 74, 151);
    text-decoration: none;
    font-weight: bold;
    text-align:justify;
    font-size: 15px;
    margin: 100px auto auto auto;
}

.btn-acessar2:hover{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.item1{
    grid-area: item1;
    grid-column: 1 / span 7;
}
.item2{
    grid-area: item1;
    grid-column: 1 / span 7;
    grid-row: 2 / span 12;
}
.item3{
    grid-area: item2;
    grid-column: 2 / span 5;
    grid-row: 7 / span 2;
}
.item4{
    grid-area: item2;
    grid-column: 3 / span 5;
    grid-row: 7 / span 2;
}
.item5{
    grid-area: item2;
    grid-column: 5 / span 5;
    grid-row: 8 / span 2;
}
.button1{
    grid-column: 2 / span 5;
    grid-row: 8 / span 2;
}
.button2{
    grid-column: 3 / span 9;
    grid-row: 12 / span 2;
}